.header-section {
    padding-top: 40px;

    position: absolute;
    width: 100%;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
    }

    &__container {
        margin-right: 0;
        @include flex($horizontal: space-between);
        flex-wrap: wrap;
    }

    &__point-link {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            color: $white-color;
        }

        @media screen and (min-width: 1280px) {
            order: 1;
        }
    }

    &__tel {
        display: none;

        @extend %link;
        
        @media screen and (min-width: 768px) {
            display: block;

            margin-left: auto;
            margin-right: 19px;

            color: $white-color;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.2px;
            text-transform: uppercase;
        }

        @media screen and (min-width: 1280px) {
            margin-right: 40px;
        }
    }
}

.burger-menu__open-btn {
    display: block;

    background-color: transparent;
    border: none;
    
    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.burger-menu__open {
    fill: $white-color;
}

.nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }

    &__list {
        @extend %list;

        @include flex();
        gap: 16px;
    }

    &__link {
        @extend %link;

        color: $white-color;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;

        &:hover,
        &:focus {
            color: $accent;
        }
    }
}