.services-section {
    padding-top: 84px;
    padding-bottom: 84px;

    background-color: $dark-bcg;
    background-position: center;

    @media screen and (max-width: 480px) {
        background-image: url('./images/services/services-bgd@1x.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./images/services/services-bgd@2x.png');
    }

    @media screen and (min-width: 481px) {
        background-image: url('./images/services/services-bg-768@1x.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./images/services/services-bg-768@2x.png');
    }

    @media screen and (min-width: 769px) {
        background-image: url('./images/services/services-bgd-1280@1x.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./images/services/services-bgd-1280@2x.png');
    }

    &__container {
        position: relative;
    }

    &__subtitle {
        margin-left: 80px;
        margin-bottom: 20px;

        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1.1px;
        text-transform: uppercase;

        color: $services-undertitle-color;

        &::before {
            content: '';
            position: absolute;
            top: -22px;
            left: 60.5px;
            transform: rotate(90deg);
    
            width: 1px;
            height: 60px;
    
            background-color: $services-undertitle-color;

            @media screen and (min-width:768px) {
                left: 71.5px;
            }

            @media screen and (min-width:1280px) {
                left: 87.5px;
            }
        }
    }

    &__title {
        margin-bottom: 44px;

        font-family: 'Raleway', sans-serif;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 2.1px;
        
        color: $white-color;
    }
}

.services-section__wrapper-list-mob-tablet {
    display: block;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.services-section__list {
    @extend %list;

    margin-bottom: 50px;
    padding: 30px;

    @include flex($vertical: space-between);
    flex-direction: column;
    gap: 20px;

    line-height: 30px;
    color: $secondary-light-font-color;

    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);

    @media screen and (min-width: 768px) {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.services-section__item {
    @include flex($horizontal: space-between, $vertical: baseline);

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.36px;
    }
    
    &::after {
            content: "";
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            height: 1px;
            background-color: rgba(157,164,189,.12);    
    }

    &-name {
        margin-right: 6px;
    }

    &-price {
        margin-left: 6px;
        order: 1;
    }
}

.services-section__wrapper-list-desktop {
    display: none;

    @media screen and (min-width: 1280px) {
        @include flex();
    }
}

.services-section__list-desktop1 {
    @extend %list;


    min-width: 585px;

    margin-bottom: 50px;
    padding: 30px 40px;

    @include flex($vertical: space-between);
    flex-direction: column;
    gap: 20px;

    line-height: 30px;
    color: $secondary-light-font-color;

    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
}

.services-section__list-desktop2 {
    @extend %list;

    min-width: 585px;

    margin-bottom: 50px;
    padding: 30px 40px;

    @include flex($vertical: space-between);
    flex-direction: column;
    gap: 20px;

    line-height: 30px;
    color: $secondary-light-font-color;

    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
}

.services-section__item-desktop {
    @include flex($horizontal: space-between, $vertical: baseline);

    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.36px;

    &::after {
        content: "";
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 1px;
        background-color: rgba(157, 164, 189, .12);
    }
}

.services-section__item-name-desktop {
    margin-right: 15px;
}

.services-section__item-price-desktop {
    order: 1;
    margin-left: 15px;
}

.services-section__point-link {
    margin-left: auto;
    margin-right: auto;

    color: $white-color;
}