$accent: #FF6C00;
$main-dark-font-color: #303030;
$secondary-dark-font-color: #555;
$white-color: #FFFFFF;
$secondary-light-font-color: #9DA4BD;
$light-bcg: #F7F7F7;
$dark-bcg: #191C26;

$form-non-active-font-color: rgba(157, 164, 189, 0.40);
$services-undertitle-color: rgba(157, 164, 189, 0.60);

$hero-gradient-color: rgba(25, 28, 38, 0.2);