.appointment-link {
    @extend %link;

    width: 160px;
    height: 40px;

    padding: 12px 20px;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.08px;

    text-transform: uppercase;
    text-align: center;

    background-color: transparent;

    border: 1px solid $accent;
    border-radius: 25px;

    &:hover,
    &:focus {
        background-color: $accent;
        cursor: pointer;
    }
}